HTTP_PORT=8080

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ai_agent
DATABASE_USER=ai_agent
DATABASE_PASSWORD=ai_agent
DATABASE_JDBC_URL=jdbc:postgresql://localhost:5432/ai_agent
DATABASE_POOL_SIZE=10

AI_STEP_DELAY_MS=150
AI_TIMEOUT_MS=7000
WEBSOCKET_MAX_MESSAGE_SIZE_BYTES=8192
